Source: swapspace
Section: admin
Priority: extra
Maintainer: Eugene V. Lyubimkin <jackyf.devel@gmail.com>
Build-Depends: debhelper (>= 7), quilt (>= 0.40)
Standards-Version: 3.8.0
Homepage: http://pqxx.org/development/swapspace

Package: swapspace
Architecture: any
Conflicts: swapd
Depends: ${shlibs:Depends}, ${misc:Depends}, lsb-base (>= 3.2-14)
Description: dynamic swap space manager
 Small, stable system add-on that continuously and automatically adapts
 available virtual memory space to your actual memory needs.  Claims disk space
 for use as swap space when needed; frees it up for use by the filesystem when
 not needed.
