Source: swapspace
Section: admin
Priority: optional
Maintainer: Jeroen T. Vermeulen <jtv@sipa.or.th>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1.1

Package: swapspace
Architecture: any
Conflicts: swapd
Depends: ${shlibs:Depends}
Description: Dynamic swap space manager
 Small, stable system add-on that continuously and automatically adapts
 available virtual memory space to your actual memory needs.  Claims disk space
 for use as swap space when needed; frees it up for use by the filesystem when
 not needed.
