#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

include /usr/share/quilt/quilt.make

%:
	dh $@

build: build-stamp
build-stamp: $(QUILT_STAMPFN)
	dh build --before dh_auto_build
	$(MAKE) DEB_FLAGS="$(CFLAGS)"
	dh build --after dh_auto_build
	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp
	# Add here commands to clean up after the build process.
	rm -f src/svn-commit.tmp src/swapspace src/hog
	[ ! -f Makefile ] || $(MAKE) clean
	dh_clean 

install: build
	dh install --before dh_auto_install
	$(MAKE) install DESTDIR=$(CURDIR)/debian/swapspace
	dh install --after dh_auto_install

# Build architecture-dependent files here.
binary-arch: build install
	dh binary-arch

binary: binary-arch
.PHONY: build clean binary-arch binary install
